.sample-drag-bar {
    flex-shrink: 0;
    width: 2px;
    background-color: #7e7e7e;
    cursor: col-resize;
    transition: background-color 0.15s 0.15s ease-in-out;
  }
  
  .sample-drag-bar.sample-drag-bar--dragging,
  .sample-drag-bar:hover{
    background-color: #bbbbbb;
  }
  
  .sample-drag-bar.sample-drag-bar--horizontal {
    height: 5px;
    width: 100%;
    cursor: row-resize;
  }
  