@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: gray;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgb(160, 160, 160);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(226, 226, 226);
    border-radius: 14px;
}
@layer base {
    img, video {
      max-width: initial;
      height: initial;
    }
}

@tailwind components;
@tailwind utilities;